body {
    background-color: #fcb65c;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

h1 {
    /* text-transform: uppercase; */
    font-size:32px; margin: 20px; background-color:rgba(250, 250, 250, 0.5); padding:15px; color:black;
}

.main-container {
    width: 100%;
    display: flex;
    align-items: space-between;
    flex-direction: row;
    height: 90vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

input {
    margin-top: 20px;
    letter-spacing: 0.7px;
    width: 200px;
    font-size: large;
    outline: none;
    text-align: center;
}

button {
    margin: 10px 10px;
    padding: 10px 10px;
    text-decoration: none;
    background: rgb(204, 204, 204);
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    width: auto;
    font-size: large;
    letter-spacing: 0.7px;
  }

  button:hover {
    background: #fcd3b0;
    color: rgb(66, 66, 66);
}

button:active {
    background: #fff349;
    color: black;
}